.App {
  text-align: center;
}

.loader-container{
  position: absolute;
  top: 200px;
  right: 0px;
  left: 0px;
  bottom: 0px;

}

.circle {
  display: block;
  width: 300px;
  height: 300px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #9a7272;
  box-shadow: 0 3px 10px 5px rgba(199, 53, 141, 0.3); 

}

img{
  border-radius: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}
.custom-font-color{
  color: wheat;
}
body{
  background-color: #3f103f;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
